@import url('./styles/nav.css');
@import url('./styles/home.css');
@import url('./styles/catalog.css');
@import url('./styles/forms.css');
@import url('./styles/details.css');

body {
    margin: 0;
    padding: 0;
}

main {
    font-size: 20px;
}